@use "../variables" as *;
@use "../mixins" as *;

// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog {
        margin-top: 0;
        padding: 20px 0 0;

        @include mq(tabletp) {
                padding: 35px 0 0;
        }

        @include mq(tabletl) {
                padding: 35px 40px 0;
        }

        @include mq(laptop) {
                padding: 53px 60px 0;
        }

        &.single {
                .wrap {
                        display: grid;
                        gap: 32px;
                        grid-template-columns: 1fr;

                        @include mq(tabletp) {
                                gap: 40px;
                                grid-template-columns: 1fr;
                        }

                        @include mq(laptop) {
                                gap: 48px;
                        }
                }
        }
}

.blog-post {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.blog-post__image {
	margin-top: 20px;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@include mq(tabletp) {
		margin-top: 25px;
	}

	@include mq(tabletl) {
		margin-top: 30px;
	}

	@include mq(laptop) {
		margin-top: 40px;
	}
}

.blog-post__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;

        p .button {
                margin-top: 5px;

                @include mq(tabletl) {
			margin-top: 10px;
		}
	}
}

.blog-post__title {

}

.blog-post__subtitle {
	margin-top: 5px;
	color: $text-light-color;
}

.pagination {
        margin-top: 0;
        padding: 40px 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        @include mq(tabletp) {
                padding: 55px 40px 0;
                gap: 20px;
        }

        @include mq(tabletl) {
                padding: 75px 40px 0;
                gap: 24px;
        }

        @include mq(laptop) {
                padding: 93px 60px 0;
        }
}

.pagination__prev,
.pagination__next {
        width: 100%;

        .button {
                display: block;
                text-align: center;
        }

        @include mq(tabletp) {
                width: 50%;
        }
}

.pagination__prev {
        float: none;
        padding-right: 0;

        @include mq(tabletp) {
                float: left;
                padding-right: calc($grid-spacing / 2);
        }
}

.pagination__next {
        float: none;
        padding-left: 0;

        @include mq(tabletp) {
                float: right;
                padding-left: calc($grid-spacing / 2);
        }
}
