---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';
import { POSTS_PER_PAGE } from '../../consts';
import {
  buildPaginationPaths,
  fetchPublishedPosts,
  type BlogEntry,
  sortPostsByDate,
} from '../../utils/posts';

export const getStaticPaths: GetStaticPaths = async () => {
  const publishedPosts = await fetchPublishedPosts();
  const sortedPosts = sortPostsByDate(publishedPosts);

  return buildPaginationPaths(sortedPosts, POSTS_PER_PAGE);
};

interface Props {
  posts: BlogEntry[];
  currentPage: number;
  totalPages: number;
}

const { posts, currentPage, totalPages } = Astro.props;
const hasPrevPage = currentPage > 1;
const hasNextPage = currentPage < totalPages;
const prevPageUrl = currentPage === 2 ? '/' : `/blog/${currentPage - 1}/`;
const nextPageUrl = `/blog/${currentPage + 1}/`;
---

<BaseLayout
  title="Keng Susumpow"
  description="Random Access Memory."
  featuredImage="/images/generic/main-cover.webp"
>
  <section class="blog single">
    <div class="wrap">
      {posts.map((post) => (
        <BlogPostCard post={post} />
      ))}
    </div>
  </section>

  <section class="pagination">
    {hasPrevPage && (
      <div class="pagination__prev">
        <a href={prevPageUrl} class="button button--large">
          <svg class="icon" aria-hidden="true"><use href="#icon-angle-left"></use></svg>
          <span>Newer Posts</span>
        </a>
      </div>
    )}
    {hasNextPage && (
      <div class="pagination__next">
        <a href={nextPageUrl} class="button button--large">
          <span>Older Posts</span>
          <svg class="icon" aria-hidden="true"><use href="#icon-angle-right"></use></svg>
        </a>
      </div>
    )}
  </section>
</BaseLayout>
