// - - - - - - - - - - - - - - - - - -
// Variables (migrated from Jekyll settings)
// - - - - - - - - - - - - - - - - - -

// Colors
$background-color: #ffffff;
$background-alt-color: #F5F7FA;
$border-color: #dddddd;

$text-dark-color: #2A2F36;
$text-medium-color: #6C7A89;
$text-light-color: #ABB7B7;

$accent-color: #A2DED0;

$overlay-background-color: #161B21;
$overlay-text-color: #ffffff;

$error-color: #D64541;

// Fonts
$body-font: "Thonburi","IBM Plex Sans Thai Looped","Muli", sans-serif;
$title-font: "IBM Plex Sans Thai Looped","Merriweather", sans-serif;

$regular-weight: 400;
$bold-weight: 600;

// Typography
$sitetitle-small: 25px;
$sitetitle-medium: 30px;
$sitetitle-large: 35px;
$sitetitle-weight: 400;
$sitetitle-spacing: 0em;

$sitetagline-small: 16px;
$sitetagline-medium: 17px;
$sitetagline-large: 18px;
$sitetagline-weight: 400;
$sitetagline-spacing: 0em;
$sitetagline-lineheight: 1.5;

$menu-small: 30px;
$menu-medium: 17px;
$menu-large: 18px;
$menu-weight: 400;
$menu-spacing: 0em;

$h1-small: 25px;
$h1-medium: 35px;
$h1-large: 45px;
$h1-weight: 400;
$h1-spacing: -0.02em;
$h1-lineheight: 1.2;

$h2-small: 25px;
$h2-medium: 35px;
$h2-large: 45px;
$h2-weight: 400;
$h2-spacing: -0.02em;
$h2-lineheight: 1.2;

$h3-small: 22px;
$h3-medium: 25px;
$h3-large: 30px;
$h3-weight: 400;
$h3-spacing: -0.02em;
$h3-lineheight: 1.3;

$h4-small: 17px;
$h4-medium: 22px;
$h4-large: 22px;
$h4-weight: 400;
$h4-spacing: 0em;
$h4-lineheight: 1.6;

$h5-small: 17px;
$h5-medium: 20px;
$h5-large: 20px;
$h5-weight: 400;
$h5-spacing: 0em;
$h5-lineheight: 1.6;

$h6-small: 17px;
$h6-medium: 20px;
$h6-large: 20px;
$h6-weight: 400;
$h6-spacing: 0em;
$h6-lineheight: 1.6;

$p-small: 16px;
$p-medium: 18px;
$p-large: 20px;
$p-weight: 300;
$p-spacing: 0em;
$p-lineheight: 1.6;

$blockquote-small: 16px;
$blockquote-medium: 18px;
$blockquote-large: 20px;
$blockquote-weight: 400;
$blockquote-spacing: -0.02em;
$blockquote-lineheight: 1.6;

$button-weight: 600;
$button-spacing: 0em;

// Header
$overlay-opacity: 0.7;

// Logo
$logo-width: 200px;
$footer-logo-width: 200px;

// Grid item
$grid-spacing: 10px;
