---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="About"
  featuredImage="/images/generic/main-cover.webp"
>
  <p><img src="/images/generic/about-image.webp" alt="Patipat Keng Susumpow"></p>

  <p>I'm Patipat "Keng" Susumpow, co-founder of <a href="https://www.opendream.co.th">Opendream</a>, <a href="https://vote62.com">Vote62</a>, <a href="https://onehealthtoolkit.org">One Health Toolkit</a>, and <a href="https://taejai.com">Taejai</a>, focusing on digital solutions for public health and government accountability. Developed systems for disease detection, crowdsourced vote monitoring.</p>

  <h3>Area of interest</h3>

  <ul>
    <li>Participatory disease surveillance</li>
    <li>Open government data</li>
  </ul>

  <h2>Recent</h2>
  <ul>
    <li>May 2023 - The Key Season 8: <a href="https://www.youtube.com/watch?v=PFjHwsfhKsc">เทคโนโลยี เปลี่ยน "ประชาธิปไตย 2 วินาที"- The Key ปี 8 Ep.16</a></li>
    <li>April 2023 - Skoll World Forum 2023: <a href="https://www.youtube.com/watch?v=tIftG8iCdUs">Do we have what it takes to prevent the next pandemic</a></li>
    <li>November 2022 - <a href="https://www.who.int/initiatives/eios/global-technical-meeting-2022">WHO EIOS GTM 2022</a>: Citizen Engagement Workshop</li>
    <li>November 2022 - World Forum for Democracy: <a href="https://www.coe.int/en/web/world-forum-democracy/lab-8-2022-elections">Election</a></li>
    <li>July 2022 - Gyeonggi Maeul International Conference 2022: <a href="https://week.ggmaeul.or.kr/56">Communities transitioning toward a better future</a></li>
    <li>June 2022 - The Standard: <a href="https://thestandard.co/thailand-election-pain-points/">ส่องปัญหา 'ข้อมูลเปิด' กับการเลือกตั้ง</a></li>
    <li>June 2022 - The Matter: <a href="https://thematter.co/social/opendream-interview/177510">ขยายส่วนร่วมประชาธิปไตย ด้วยเครื่องมือดิจิทัล ไปกับ Opendream</a></li>
    <li>May 2022 - Matichon Online: <a href="https://www.matichon.co.th/social/news_3372561">เปิดใจเจ้าของแคมเปญ 'เลิกใช้เลขไทยในเอกสารราชการ'</a></li>
    <li>May 2022 - Thairath Online: <a href="https://www.thairath.co.th/news/politic/2395407">คุยกับทีมนักพัฒนา Politimate</a></li>
    <li>November 2021 - The Cloud: <a href="https://readthecloud.co/opendream/">Opendream ธุรกิจพัฒนาเทคโนโลยีแก้ปัญหาสังคม</a></li>
    <li>September 2021 - MIT Solve Challenge: <a href="https://youtu.be/ha24ulnnDEk">Professor Dame Sally Davies and Patipat Keng Susumpow at Solve Challenge Final 2021</a></li>
    <li>July 2021 - Bloomberg Businessweek: <a href="https://www.bloomberg.com/news/articles/2021-07-15/how-to-stop-the-next-pandemic-from-happening-ai-big-data-and-vaccines">The Next Pandemic Could Be Averted With AI, Apps, and Big Data</a></li>
    <li>July 2021 - Royal Thai Embassy, London: <a href="https://london.thaiembassy.org/en/content/think-globally-act-locally?cate=5d6636c215e39c3bd0006cb9">Think Globally, Act Locally</a></li>
    <li>Dec 2020 - Thairath Online: <a href="https://www.thairath.co.th/lifestyle/tech/1994783">Vote62 กับภารกิจเป็นบันไดเพื่อการมีส่วนร่วมของภาคประชาชน</a></li>
    <li>Oct 2020 - APAC Trusted Media Summit 2020: <a href="https://vimeo.com/480642691">An Investigative Fact Check Mobile Game</a></li>
    <li>Sep 2020 - MIT Solve: <a href="https://solve.mit.edu/articles/meet-the-solver-teams-health-security-pandemics">2020 Health Security &amp; Pandemics Solver Class</a></li>
    <li>Jan 2019 – PBS News Hour: <a href="https://www.pbs.org/newshour/show/in-thailand-tracking-animal-health-to-prevent-outbreaks-of-human-disease">In Thailand, tracking animal health to prevent outbreaks of human disease</a></li>
    <li>Jan 2019 – BBC World Service: <a href="https://www.bbc.co.uk/programmes/w3cswvs7">Checking in with the Problem Solvers</a></li>
    <li>July 2017 – BBC News: <a href="https://www.youtube.com/watch?v=cjAoMXW77Ls">Thailand's Disease Detectives</a></li>
    <li>July 2017 – BBC World Service: <a href="https://www.bbc.co.uk/programmes/p057pp7w">Thailand's Disease Detective</a></li>
    <li>December 2016 – International Journal of Infectious Diseases: <a href="https://www.researchgate.net/publication/312243761_Digital_functions_in_a_participatory_One_Health_surveillance_initiative_aiming_for_pandemic_averting">Digital functions in a participatory One Health surveillance initiative aiming for pandemic averting</a></li>
    <li>April 2014 – WWW2014: <a href="https://www.researchgate.net/publication/261959492_Participatory_disease_detection_through_digital_volunteerism_how_the_doctorme_application_aims_to_capture_data_for_faster_disease_detection_in_thailand">Participatory disease detection through digital volunteerism</a></li>
  </ul>
</PageLayout>
