---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostCard from '../components/BlogPostCard.astro';
import { POSTS_PER_PAGE } from '../consts';
import { fetchPublishedPosts, paginatePosts, sortPostsByDate } from '../utils/posts';

const publishedPosts = await fetchPublishedPosts();
const sortedPosts = sortPostsByDate(publishedPosts);
const { posts, totalPages } = paginatePosts(sortedPosts, POSTS_PER_PAGE, 1);
const hasNextPage = totalPages > 1;
---

<BaseLayout
  title="Keng Susumpow"
  description="Random Access Memory."
  featuredImage="/images/generic/main-cover.jpg"
>
  <section class="blog single">
    <div class="wrap">
      {posts.map((post) => (
        <BlogPostCard post={post} />
      ))}
    </div>
  </section>

  {totalPages > 1 && (
    <section class="pagination">
      {hasNextPage && (
        <div class="pagination__next">
          <a href="/blog/2/" class="button button--large">
            <span>Older Posts</span>
            <svg class="icon" aria-hidden="true"><use href="#icon-angle-right"></use></svg>
          </a>
        </div>
      )}
    </section>
  )}
</BaseLayout>
