---
interface Props {
  formAction?: string;
  confirmationUrl?: string;
  emailSubject?: string;
  sendButtonText?: string;
}

const {
  formAction = 'https://formspree.io/your-email',
  confirmationUrl = '/thank-you',
  emailSubject = 'New contact form submission',
  sendButtonText = 'Send Message',
} = Astro.props;
---

<div class="contact-form">

  <form method="post" action={formAction} id="contact-form">

    <div class="contact-form__item">
      <label class="contact-form__label">Email Address *</label>
      <input type="text" name="email" placeholder="Your email address..." class="contact-form__input">
    </div>

    <div class="contact-form__item">
      <label class="contact-form__label">Name *</label>
      <input type="text" name="name" placeholder="Your name..." class="contact-form__input">
    </div>

    <div class="contact-form__item">
      <label class="contact-form__label">Message *</label>
      <textarea name="message" placeholder="Your message..." class="contact-form__textarea"></textarea>
    </div>

    <input type="hidden" name="_next" value={confirmationUrl} />
    <input type="hidden" name="_subject" value={emailSubject} />
    <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" value="">

    <div class="contact-form__item">
      <input type="submit" value={sendButtonText} class="button button--large">
    </div>

  </form>

</div>
