---
import { settings } from '../data/settings';

const currentYear = new Date().getFullYear();
---

<footer class="footer">

  <div class="footer__copyright">
    <span>&copy; {currentYear} {settings.basic.site_title}</span>
  </div>

</footer>
