// - - - - - - - - - - - - - - - - - -

// Contact form

// - - - - - - - - - - - - - - - - - -

.contact-form {
	background: var(--background-alt-color);
	margin: 20px auto;
	width: 100%;
	padding: 20px;

	@include mq(tabletp) {
		margin: 30px auto;
		padding: 40px;
	}

	@include mq(tabletl) {
		max-width: calc(80% + 80px);
	}

	@include mq(laptop) {
		margin: 40px auto;
		max-width: calc(75% + 100px);
		padding: 50px;
	}

	@include mq(desktop) {
		max-width: calc(70% + 120px);
		padding: 60px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item {
	margin-top: 15px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 30px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item--error {

	.contact-form__input,
	.contact-form__textarea {
		border-color: var(--error-color);
	}
}

.contact-form__label {
	display: block;
	font-size: var(--p-small);
	font-weight: var(--bold-weight);
	color: var(--text-medium-color);

	@include mq(tabletp) {
		font-size: var(--p-medium);
	}

	@include mq(laptop) {
		font-size: var(--p-large);
	}
}

.contact-form__input,
.contact-form__textarea {
	width: 100%;
	margin-top: 8px;
	border: 2px solid var(--border-color);
	border-radius: 2px;
	padding: 10px 12px;
	background: var(--background-color);
	font-size: var(--p-small);
	line-height: 1.4;
	color: var(--text-dark-color);
	@include transition(all 0.15s ease-in-out);

	@include mq(tabletp) {
		padding: 15px 18px;
		font-size: var(--p-medium);
	}

	@include mq(laptop) {
		font-size: var(--p-large);
	}

	&:focus {
		outline: none;
		border-color: var(--accent-color);
	}
}

::-webkit-input-placeholder {
	color: var(--text-light-color-lighter);
}
::-moz-placeholder {
	color: var(--text-light-color-lighter);
}
:-ms-input-placeholder {
	color: var(--text-light-color-lighter);
}
:-moz-placeholder {
	color: var(--text-light-color-lighter);
}

.contact-form__textarea {
	min-height: 200px;
	resize: none;
}
